button{
height: 40px;
width: 90px; 
color: white;
background: black;
border-radius: 45px;
}

.star-card{
    width: 650px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:25%;
    box-sizing: border-box;
    flex-direction: row;

}